# Build artifacts
.gradle/
build/
app/build/
app/release/
app/debug/

# Android Studio / IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/caches/
.idea/shelf/
.idea/dictionaries/
.idea/kotlinc.xml
.idea/vcs.xml
.idea/inspectionProfiles/
.idea/runConfigurations.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml

# Kotlin
.kotlin/
.base_profile/

# Local configuration
local.properties
secrets.properties

# Keystores / Signing
*.jks
*.keystore
*.pk8
*.pem

# Google Services
google-services.json
app/google-services.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Baseline Profiles artifacts
*.prof
*.profm
baseline-prof.txt
baseline-prof-metadata.txt
